*{
    padding:0;
    margin:0;
}

@media all and (min-width: 1025px) and (max-width: 1280px) 
{
    /** DISPOSITIVOS ORDENADOR **/
    /*** CONTENEDOR PRINCIPAL DE LA PAGINA ***/
    #container{
        margin-top: 0px;
        margin-left: -8px;
        padding-left: 0px;
        padding-top: 0px;
        width: 100%;                      /*  width: 1280px;  */
        height: 945px;
        border: 1px;
        border-style: solid;
        border-color: black;
        background-color: rgba(0, 0, 19, 0.89); /*COLOR BASE*/
        position: absolute;
        z-index: -1;
    }
    /************ CSS DE LA CABECERA ********/
    #cabeceraPrincipal
    {
        width: 100%;
        height: 200px;
        border: 1px;
        border-style: solid;
        border-color: black;
        background-color: rgba(0, 0, 19, 0.89);
    }
        #iconoEmpresa{
            margin-left:400px;
            width: 343px;   /*ICONO CUADRADO*/
            height: 100px;
            background-image: url("../images/Sfer4D-IconoEmpresa.jpg");
            /*CON ESOS DOS PUNTOS SE LE DICE A CSS QUE LA CARPETA DE LAS */
            /* IMAGENES COMO ICONO DE LA EMPRESA ESTA EN OTRA CARPETA ADJUNTA*/
        }
        .VaciobotonesPrincipal{
            float: left;
            width: 923px;   /*ICONO CUADRADO*/
            height: 13px;  
            background-color: rgba(0, 0, 19, 0.89);
        }
        #tabla{
            margin-left: 80px;  /* PARA COLOCAR EL POSICIONAMIENTO DE LAS OPCIONES */
        }
        .LlenobotonesPrincipal{
            float: left;
            width: 150px;
            height: 60px;
        }
        .boton{
            margin-left: 12px;
            margin-top: 10px;
            width: 120px;
            height: 40px;
            background-color:  rgba(0, 0, 19, 0.89);
            text-align: center;
            border-radius: 10px;
            box-shadow: rgb(150,150,150) 5px 5px 20px 10px;
        }
    /*********** FIN CSS DE LA CABECERA ********/

    /**** CSS DEL CUERPO DE LA PAGINA PRINCIPAL ****/
    /*****  CREACION DEL CUERPO DE LA PAGINA  *****/

    #historia{
        margin-left:12%  /*SE GENERALIZA EL CUERPO*/
    }
    #titular{
        position: absolute;
        float:left;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: rgb(158, 158, 13);
        text-align: left;
        font-size: x-large;
        margin-left: 180px;
        margin-bottom: 5px;
    }
    .navegacion{
        height: 70px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: rgb(158, 158, 13);
        font-size: xx-large;
        padding-top: 5px;
        text-align: center;
    }
    .navegacion > ul{
        position: absolute;
        margin-top: 30px;
        width: 830px;
        margin-left: 0px;
        padding-left: 0px;
        list-style: none;
        font-size: large;
        text-decoration: none;
    }
    .menu>li{
    position: relative;
    display: inline-block;
    margin-left: 30px;
    margin-right: 0px;
    font-size: x-large;
    list-style: none;
    }

    .menu > li > a{
        display: block;
        padding: 5px 2px;
        font-family: 'open sans';
        text-decoration: none;
        list-style: none;
    }
    .menu li a:hover{
        color: yellow;
        transition: all .3s;
    }
    .decada{
        position: absolute;
        background-color:#010b46e5;
        display: none;
        visibility: hidden;
        opacity: 0;
        transition: opacity 1.5s;
        width: 0px;
        text-align: left;
    }
    .pulsador{
        background-color:#010b46e5;
        width: 120px;
    }
    .decada li a{
        display: block;
        color: #fff;
        font-family: 'open sans';
        text-decoration: none;
        font-size: large;
        margin-left: -40px;
    }
    .menu li:hover .decada{
        display: block;
        visibility: visible;
        list-style: none;
        opacity: 1;
    }

    #argumentos{
    float: left;
    width: 850px;
    height: 175px;
    background-color: rgb(143, 141, 9);
    }
    #trama{
        font-size: large;
    }

    #tiempo{
        height: 20px;
        text-align: center;
    }

    #fecha{
    float: left;
    width: 99%;
    height: 20px;
    background-color: rgb(71, 82, 10);
    border: 2px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.678);
    }
    #argumento{
        height: 40px;
    }

    /****** FIN CSS DEL CUERPO DE LA PAGINA ******/
    /**** CSS DEL PIE DE LA PAGINA ****/
    /**** CREACION DEL PIE DE LA PAGINA ****/
    #piePrincipal
    {
        margin-top:175px;
        width:99.5%;
        height: 175px;
        background-color: rgba(163, 180, 9, 0.596);   
    }
    #zocalo
    {
        float: left;
        width:100%;
        height: 120px; 
        border: 2px;
        border-style: solid;
        border-color:rgba(24, 36, 1, 0.87);
        background-color: rgba(72, 80, 1, 0.596);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-style:oblique;
        font-size:large;
        text-align: center;
    }
    .pie
    {
        float: left;
        margin-left: 1%;
        width:32%;
        height: 50px;
        border: 1px;
        border-style: solid;
        border-color:rgba(0, 0, 0, 0.87);
        background-color: rgba(94, 65, 3, 0.596);   
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-style:normal;
        font-size:large;
        text-align: center; 
    }
    .parrafo{
        float: left;
        margin-left: 10%;
        width: 65%;
        height: 65px;
        font-style:normal;
        font-size:small;
        text-align: left;
        color: transparent; /* Para que aparezca el texto invisible, a la espera del cambio */
    }
}