

@media all and (min-width: 300px) and (max-width: 480px) 
{
    *{
        padding:0px;
        margin:0px;
    }
   /** DISPOSITIVOS TABLETS **/
   /*** CONTENEDOR PRINCIPAL DE LA PAGINA ***/
   #container{
    margin-top: 0px;
    margin-left: 0px;
    padding-left: 0px;
    padding-top: 0px;
    width: 400px;
    height: 653px;
    border: 1px;
    border-style: solid;
    border-color: black;
    background-color: rgba(0, 0, 19, 0.89); /*COLOR BASE*/
    position: absolute;
    z-index: -1;
    }
    /************ CSS DE LA CABECERA ********/
    #cabeceraPrincipal
    {
        width: auto;
        height: 240px;
        border: 1px;
        border-style: solid;
        border-color: black;
        background-color: rgba(0, 0, 19, 0.89);
    }
        #iconoEmpresa{
            margin-left: 19%;
            width: 225px;   /*ICONO CUADRADO*/
            height: 80px;
            background-image: url("../images/Sfer4D-IconoEmpresa-280a480.jpg");
            /*CON ESOS DOS PUNTOS SE LE DICE A CSS QUE LA CARPETA DE LAS */
            /* IMAGENES COMO ICONO DE LA EMPRESA ESTA EN OTRA CARPETA ADJUNTA*/
        }
        #tabla{
            float: left;
            margin-top: 0px;
            margin-left: 0px;
            width: 100%;
            height: 100px;
        }
        .VaciobotonesPrincipal{
            float: left;
            width: 395px;   /*ICONO CUADRADO*/
            height: 10px;  
            background-color: rgba(24, 36, 1, 0.87);
            /* background-color: rgba(6, 6, 34, 0.87); */
        }
        .LlenobotonesPrincipal{
            float: left;
            margin-left: 4%;
            width: 110px;
            height: 35px;
            border: 1px;
            border-style: solid;
            border-color: black;
        }
        .boton{
            float: left;
            font-size: 60%;
            width: 100px;
            height: 30px;
            background-color:  rgba(0, 0, 19, 0.89);
            text-align: center;
            border-radius: 5px;
            box-shadow: rgb(150,150,150) 5px 5px 20px 3px;
        }
    /*********** FIN CSS DE LA CABECERA ********/

    /***** CSS DE LA ETIQUETA NAV INTERMEDIO *****/
    /*****  CREACION DEL SLIDER DE IMAGENES  *****/

    #tablaEnfoque{
        position: absolute;
        float: left;
        width: 400px;
        height: 150px;
        background-color: transparent;  /*PARA DARLE TRANSPARENCIA*/
    }
    .botonSliderIzquierda
    {
        width: 0; 
        height: 0; 
        border-right: 25px solid #0e165e;
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent; 
        background-color: transparent;  /* PARA DARLE TRANSPARENCIA */
        border-radius: 10px;
        box-shadow: rgb(150,150,150) 5px 5px 20px 10px;
    }
    .botonSliderDerecha
    {
        width: 0; 
        height: 0; 
        border-left: 25px solid #0e165e;
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent; 
        background-color: transparent;  /* PARA DARLE TRANSPARENCIA */
        border-radius: 10px;
        box-shadow: rgb(150,150,150) 5px 5px 20px 10px;
    }
    #imagenesSlider{
        float: left;
        width: 295px;
        height: 150px;
        background-color: transparent;  /*PARA DARLE TRANSPARENCIA*/
    }
    #imagenMovible{
        position: absolute;
        float: left;
        z-index: -1;
        width: 400px;
        height: 150px;
        background-image: url("../sliderImages/OtraTierra.jpg");
    }
    #imagenInMovil{
        position: absolute;
        float: left;
        z-index: -2;
        width: 400px;
        height: 150px;
    }
    /****** FIN CSS DEL SLIDER DE IMAGENES ******/

    /**** CSS DEL CUERPO DE LA PAGINA PRINCIPAL ****/
    /*****  CREACION DEL CUERPO DE LA PAGINA  *****/

    #seccionPrincipal{
        margin-top: 150px;
        width:99%;
        height: 257px;
        border: 2px;
        border-style: solid;
        border-color:rgba(79, 80, 3, 0.87);
        background-color: rgba(2, 1, 46, 0.425);
    }
    .noticia{
        float: left;
        margin-top: 3px;
        margin-left: 5px;
        width:47%;
        height: 120px;
        border: 2px;
        text-align: center;
        color: rgb(165, 165, 19);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-style:oblique;
        font-size:small;
        text-align: center;
        border-style: solid;
        border-color:rgba(79, 80, 3, 0.87);
        background-color: rgb(2, 2, 27);
    }
    .imgBloques{
        float: left;
        margin-top: 8%;
        margin-left: 5%;
        width: 15%;
    }
    /****** FIN CSS DEL CUERPO DE LA PAGINA ******/

    /**** CSS DEL PIE DE LA PAGINA ****/
    /**** CREACION DEL PIE DE LA PAGINA ****/
    #piePrincipal
    {
        width:99%;
        height: 140px;
        background-color: rgba(163, 180, 9, 0.596);   
    }
    #zocalo
    {
        float: left;
        width:100%;
        height: 90px; 
        border: 3px;
        border-style: solid;
        border-color:rgba(24, 36, 1, 0.87);
        background-color: rgba(72, 80, 1, 0.596);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-style:oblique;
        font-size:smaller;
        text-align: center;
    }
    .pie
    {
        float: left;
        width:32.95%;
        height: 46px;
        border: 1px;
        border-style: solid;
        border-color:rgba(0, 0, 0, 0.87);
        background-color: rgba(26, 1, 27, 0.596);   
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-style:normal;
        font-size: x-small;
        text-align: center; 
    }
    .parrafo{
        float: left;
        margin-left: 10%;
        width: 65%;
        height: 80px;
        font-style:normal;
        font-size:small;
        text-align: left;
        color: transparent; /* Para que aparezca el texto invisible, a la espera del cambio */
    }
}